.hero {
    max-width: 80rem;
    width: 100%;
    padding: 2.5rem 2rem;
    margin-inline: auto;

    display: flex;
    
    align-items: center;
    justify-content: space-between;
    overflow: hidden;

    & h1 {
        max-width: 40rem;
    }

    & h1 div {
        display: inline-block;
        overflow: hidden;
        height: 5rem;
        width: min-content;
        vertical-align: bottom;
    }

    & h1 span:nth-child(1), 
    & h1 span:nth-child(4) {
   
        color: var(--snitap-sky-mid);
    }
    & h1 span:nth-child(2) {
        color: var(--snitap-joy-mid);
    }
    & h1 span:nth-child(3) {
        color: var(--snitap-leaf-mid);
    }

    & h1 span {
       
        display: block;

        animation: slideUp 5s 2s infinite ease;
    }

    & .buttons {
        display: flex;
        
        gap: 2rem;
        margin-top: 3rem;

        & .button {
            display: flex;
            align-items: center;
            gap: .75rem;

            
            border-radius: 5rem;

            transition: transform 350ms; /* sempre colocar o nome do elemento primeiro Ex: transform ...*/

            &.buy { /*para este tipo de filho, não pode deixar separação entre & e classe*/
               padding: 1.5rem 3rem;
               background-color: var(--snitap-sun);
            }

            &.play span { /*span sendo utilizado para se fazer sombras: neste caso em especifico do play*/
                padding: 1.5rem;
                border-radius: 50%;
                background-color: white;
                display: flex; /* tira do esticado dos elementos*/
            }

            &:hover {
                transform: scale(1.1);
            }
        }

        & .shadow {
            box-shadow: 
            0 2px 5px rgb(0 0 0 / .1), /* 0: deslocamento do eixo x, 2px deslocamento do eixo y 5px: blur */
            0 9px 9px rgb(0 0 0 / .09),
            0 20px 12px rgb(0 0 0 / .05),
            0 36px 15px rgb(0 0 0 / .01);
        
        }
    }

    /* patins */
     & > div:nth-child(2) {
       display: block;
       width: 100%;
       max-width: 30.5rem;
       height: 30.5rem;

        & .content {
           width: 100%;
           height: 100%;
           position: relative;

           

        }
        
        
        & img {
            position: absolute;
            width: 100%;
           
        }

        & img[src*="Ellipse"] {
            width: 94%;
            top: 3%;
            left: 3%;

            transform: translateX(200%);
            animation: slideIn 3s 200ms ease forwards;
        }

        & img[src*="patins"] {
            z-index: 1;

            transform: translateX(200%);
            animation: slideIn 3s ease forwards;
        }

        & img[src*="Stars 1"] {
            max-width: 5.5rem;
            top: 30%;
            z-index: 0;

            opacity: 0;
            transform: translateX(400%);
            animation: slideIn 2s 800ms ease both, appear 100ms 800ms both;
        }

        & img[src*="Stars 2"] {
            max-width: 2.5rem;
            right: 0;
            bottom: 35%;

            transform: translateX(400%);
            animation: slideIn 2.2s 800ms ease both;
        }
       
    }

}

@keyframes slideIn {

    50% {
        transform: translateX(-20px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes appear {
    to {
        opacity: 1;
    }
}

@keyframes slideUp {
    0%, 22% {
        transform: translateY(0)
    }

    /* divertida in*/
    23% {
        transform: translateY(calc(-5rem - 15px));
    }

    25% {
        transform: translateY(calc(-5rem + 10px));
    }

    27% {
        transform: translateY(calc(-5rem - 5px));
    }

    29% {
        transform: translateY(calc(-5rem + 5px));
    }

    33%, 55% {
        transform: translateY(-5rem);
    }

    56% {
        transform: translateY(calc(-10rem - 15px));
    }

    58% {
        transform: translateY(calc(-10rem + 10px));
    }

    60% {
        transform: translateY(calc(-10rem - 5px));
    }

    62% {
        transform: translateY(calc(-10rem + 5px));
    }

    66%, 88% {
        transform: translateY(-10rem);
        
    }

    89% {
        transform: translateY(calc(-15rem - 15px));  /* para selecionar mesmos elementos ex:-15rem, selecionar elemento 2 clicks ctrl + d*/
    }

    91% {
        transform: translateY(calc(-15rem + 10px));
    }

    93% {
        transform: translateY(calc(-15rem - 5px));
    }

    95% {
        transform: translateY(calc(-15rem + 5px));
    }

    100% {
        transform: translateY(-15rem);
    }
}

@media (width <=375px) {

    .hero {

       
        max-width: 23.47rem;
        width: 100%;
        padding: 0.75rem 1.5rem;
        margin-inline: auto;

        display: flex;
        flex-direction: column-reverse;
        
        align-items: center;
        justify-content: space-between;
        
        overflow: hidden;

        & h1 {
            max-width: 20rem;
            font-size: 2rem;

            & div {
                display: inline-block;
                max-width: 161px;
                height: 2.5rem;
                
            }

            & div span {
                display: inline-block;
                overflow: hidden;
                height: 5rem;
                width: min-content;
                vertical-align: bottom;
            }

            & span {
                display: block;
            }


        }


           

       

         
        & .buttons {
          display: flex;
          flex-direction: column-reverse;
            
            & .button {
            

                &.play {

                  display: flex;
                  height: 5rem;

                  padding-left: 6.25rem;

                  position: relative;


                    & span {
                      position: absolute;
                      top: 0.625rem;
                      right: 14.375rem;
                    }

               
                
                }

                &:hover {
                    transform: none;
                }

            }
            
            


        
        }

        & > div:nth-child(2) {
           display: block;
           width: 100%;
           max-width: 19.5rem;
           height: 19.5rem;
        
        & .content {
           width: 100%;
           height: 100%;
           position: relative;

           

        }
        
        
        & img {
            position: absolute;
            width: 100%;
           
        }

        & img[src*="Ellipse"] {
            
            height: 30.7rem;
            top: -35%;
            left: 3.5%;


            transform: none;
            animation: none;
        }

        & img[src*="patins"] {
            z-index: 1;
            object-fit: cover;
            height: 16.875rem;

            transform: none;
            animation: none;
        }

        & img[src*="Stars 1"] {
            max-width: 3.5625rem;
            top: 25%;
            height: 2.86rem;
            object-fit: contain;
            z-index: 0;
            left: 1.8%;

            opacity: 1;
            transform: none;
            animation: none;
        }

        & img[src*="Stars 2"] {
            max-width: 1.59rem;
            
            bottom: 39%;
            height: 2.39rem;

            transform: translateX(400%);
            animation: slideIn 2.2s 800ms ease both;
        }
       
    }

    }   
}